@use "./reset.scss";

.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .username,
    .email,
    .password,
    .confirm-password,
    .title,
    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      label,
      input {
        font-size: 1.5em;
      }
    }
    button {
      width: 100%;
      cursor: pointer;
      padding: 10px;
      font-size: 1.5em;
      font-weight: bold;
      background-color: white;
      color: black;
      border: none;
      border-radius: 5px;
      transition: 0.2s all ease-in-out;
      &:hover {
        background-color: black;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
